    <nav class="h-20 w-auto flex justify-around items-center">
        <div class="w-full flex justify-start ml-40">
            <a class="text-zinc-950 text-lg tracking-wide text-shadow-sm" href="#">Logo</a>
        </div>
        <div class="w-full flex justify-evenly gap-8 mr-40">
            <a class="text-zinc-950 text-lg tracking-wide text-shadow-sm" href="#page2">Sobre mim</a>
            <a class="text-zinc-950 text-lg tracking-wide text-shadow-sm" href="#">Projetos</a>
            <a class="text-zinc-950 text-lg tracking-wide text-shadow-sm" href="#">LinkedIn</a>
            <a class="text-zinc-950 text-lg tracking-wide text-shadow-sm" href="#">Contatos</a>
        </div>
    </nav>
