.hero {
    display: flex;
    width: 40vw;
    height: 40rem;
    align-items: center;
}

.round {
    border-radius: 50%;
}

.resize {
    width: 20rem;
    height: 20rem;
}

.position {
    margin-left: 22rem;
    margin-right: 2rem;
}

.text p, h1, h2 {
    width: 30vw;
    text-align: center;
    letter-spacing: .5px;
}

.text>h1 {
    margin: 1rem auto .5rem auto;
/*     font-weight: 700; */
/*     font-size: 3rem; */
    color: var(--navmenu-color);
/*     letter-spacing: 1px; */
}

.text>h2 {
    font-weight: 500;
    color: var(--navmenu-color);
    font-size: 1.2rem;
}