    <div class="w-auto h-full flex items-center justify-center">
        <div class="text-center ml-32 mr-12">
            <p class="text-xl text-shadow-sm">Olá, sou</p>
            <h1 class="text-5xl font-bold tracking-wider mt-4 mb-2 text-shadow-sm">George Prado</h1>
            <h2 class="text-2xl text-shadow-sm">Desenvolvedor Full Stack</h2>
        </div>
        <div>
            <img class="flex justify-items-end w-80 h-80 rounded-full" src="/assets/profile-photo.png" alt="">
        </div>
    </div>


