@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font: normal 300 1rem 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000;
    height: auto;
    border: none;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

:root {
    --text-shadow: 1px 1px 1px #00000015;
    --navmenu-color: #401A12;
    --background-color: #f5f5f5;
}

