@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font: normal 300 1rem 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000;
    height: auto;
    border: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

