<div class="w-screen flex justify-center mt-4">
    <main class="flex-col flex-1 ml-24 mt-20 text-center">
        <h3 class="flex w-fit justify-center mx-auto border-2 border-solid border-stone-700 rounded-full tracking-wider px-4 py-2">Formações e Certificações</h3>
        <ul class="mt-4">
            <li>
                <h4>Graduação em Análise e Desenvolvimento de Sistemas - UNINTER</h4>
                <small>Cursando - Formação prevista para 2025-2</small>
            </li>
            <li class="mt-4">
                <h4>Santander Coders 2023-2 Bootcamp - Ada Tech</h4>
                <small>Duração de 6 meses</small>
            </li>
            <li class="mt-4">
                <h4>ASP.NET Core 8 Bootcamp - Harsha Web University</h4>
                <small>Duração de 82 horas</small>
            </li>
            <li class="mt-4">
                <h4>Networking Basics - CISCO</h4>
                <small>Duração de 22 horas</small>
            </li>
            <li class="mt-4">
                <h4>Segurança em APIs ASP.NET com JWT e Bearer Authentication - Balta</h4>
            </li>
            <li class="mt-4">
                <h4>Fundamentos do Azure, Git, GitHub e DevOps - Balta</h4>
            </li>
            <li class="mt-4">
                <h4>Fundamentos do Event-Driven Architecture - Balta</h4>
            </li>
            <li class="mt-4">
                <h4>Fundamentos do Entity Framework - Balta</h4>
            </li>
            <li class="mt-4">
                <h4>Fundamentos do SQL Server - Balta</h4>
            </li>
        </ul>
    </main>
    <aside class="flex-2 flex-col text-center mt-40 mr-56">
        <h3 class="border-2 border-solid border-stone-700 rounded-full tracking-wider px-4 py-1">Idiomas</h3>
        <ul class="flex flex-col justify-stretch mt-2">
            <li class="flex gap-1 mt-2 mb-1 items-center"><img class="h-4 w-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/1280px-Flag_of_Brazil.svg.png" alt="Português (idioma)">Português (Nativo)</li>
            <li class="flex gap-1 mt-2 mb-1 items-center"><img class="h-4 w-6" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" alt="Inglês (idioma)">Inglês (Fluente)</li>
            <small class="">Certificado Fisk</small>
        </ul>
        <h3 class="border-2 border-solid border-stone-700 rounded-full tracking-wider px-4 py-1 mt-20">Experiência</h3>
        <ul class="flex flex-col justify-stretch mt-2">
            <li class="mb-1 font-medium">Freelancer: ~2 anos</li>
                <ul class="text-sm">Projetos envolvendo:
                    <li class="text-xs">ASP.NET</li>
                    <li class="text-xs">SQL Server</li>
                    <li class="text-xs">Entity Framework</li>
                    <li class="text-xs">Angular</li>
                    <li class="text-xs">React</li>
                    <li class="text-xs">Bootstrap</li>
                    <li class="text-xs">Tailwind CSS</li>
                    <li class="text-xs">Docker</li>
                    <li class="text-xs">Azure</li>
                </ul>
        </ul>
    </aside>
</div>