<div class="w-screen flex justify-center mt-20">
    <main class="flex-col flex-1 mt-20 text-center">
        <h3 class="flex w-fit justify-center mx-auto border-2 border-solid border-stone-700 rounded-full tracking-wider px-4 py-2">Formação e Destaques</h3>
    </main>
    <aside class="flex-2 flex-col text-center mt-60 mr-32">
        <h3 class="border-2 border-solid border-stone-700 rounded-full tracking-wider px-4 py-1">Idiomas</h3>
        <ul class="flex flex-col justify-stretch gap-3 mt-3">
            <li>PT-BR (Nativo)</li>
            <li>EN-US (Fluente)</li>
        </ul>
    </aside>
</div>